@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Space+Grotesk:wght@300;400;600;700&display=swap');

// family
$s-grotesk: "Space Grotesk", sans-serif;
$dm-sans: "DM Sans", sans-serif;

// weights
$light: 300;
$normal: 400;
$semi-bold: 600;
$bold: 700;